<h1>カート内一覧</h1>

<% @cart_products.each do |cart_product| %>
 <tr>
    <td><%= cart_product.product.quantity %></td>
    <td><%= cart_product.product.name %></td>
    <td><%= cart_product.product.unit_price %></td>
    <% end %>
