<%if @genres.present? %>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px;">ジャンル検索
<% @genres.each do |genre| %>
<%= genre.name %>
<% end %>
<% end %>
</div>


