<div style = "text-align: center">

	<h3>ようこそ、NaganoCakeへ！<br>
		このサイトは、ケーキ販売のECサイトになります。<br>
		会員でない方も商品の閲覧はできますが、<br>
		購入には会員登録が必要になります。</h3></div>

	<div class ="container" >
		<h2>オススメ商品</h2>
		<table class="table">
		<tr>
			<th>画像</th>
			<th>画像</th>
			<th>画像</th>
			<th>画像</th>
		</tr>
		<tr>
			<th>商品名</th>
			<th>商品名</th>
			<th>商品名</th>
			<th>商品名</th>
		</tr>
		<tr>
			<th>¥値段</th>
			<th>¥値段</th>
			<th>¥値段</th>
			<th>¥値段</th>
		</tr>


</div>
