<h1>管理者画面</h1>

<% @orders.each do |order| %>
  <% order.order_products.each do |order_product| %>
   <% sum += order_product.quantity %>
  <% end %>
<% end %>
<div>本日の注文件数
	<%= link_to(admins_orders_path) do %>
	<%= sum  %>
	<% end %>件
</div>


