<div class="row" style= "width: 80%; margin: 20px auto;">
	<div  class= "col-md-9">
		<div class="row" style= "width: 100%; margin: 20px auto;">
			<div class="form-horizontal">
				<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">管理者画面</h4>
			</div>
		</div>
	</div>
</div>

<div class="container">
<% sum = 0 %>
<% @orders.each do |order| %>
  <% order.order_products.each do |order_product| %>
   <% sum += order_product.quantity %>
  <% end %>
<% end %>
<h3>本日の注文件数→
	<%= link_to(admins_orders_path) do %>
	<%= sum  %>
	<% end %>件</h3>
</div>




